/**
define variables
*/

:root{
    --sky-blue:#32B8DA; 
    --green:#5BECC9; 
    --blue : #95EEF4;
}

body{
    font-family: 'Roboto', sans-serif;
}

/***
header-top
*/
.header_top{
 background-color: var(--sky-blue);
}

.header_top p, i {
    margin-left: .7em;
}

/**
navbar
*/


.logo-text, .logo-image{
    display: inline;
}

.logo-image{
    height: 2.5rem;
    width: 2.5rem;
}

.btn-my-green{
    background-color: var(--green);
    color:white;
}

.btn-my-green:hover{
    opacity: .8;
}



/**
 Header bootom
*/

.header-bootom{
    background: linear-gradient(180deg, #32B8DA 56.77%, rgba(196, 196, 196, 0) 100%);
    background-blend-mode: darken;
    padding: 10rem;

}

/**
 service
*/

.service{
    margin-top: 4rem;
    margin-bottom: 4rem;
}


/**
title
*/
.title{
    font-weight: 900;
}


/**
Service Page
*/
.img-service{
    width: 100%;
}

.service-header .title, .price{
    margin: 1rem 0;
}




/**
Open hours and Make an appointementh
*/
.open-hours{
    background-color: var(--sky-blue);
    padding: 3rem;
}

.mk-appointment{
    background-color: var(--blue);
    padding: 3rem;
}
.title-mk{
    margin: 1rem 0;
}
.width-75{
    width: 58.5vw;
}


/**
formulaire
*/

.elem-form{
    margin: .5rem 0;
    width: 80%;
    
}

.btn-submit{
    background-color: var(--green); /* Green */
    border: none;
    color: white;
    padding: .5rem 1rem;
    margin: 1rem 0;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-submit:hover{
    background-color: var(--blue);
    border: white 1px solid;
}

legend{
    font-size: 1rem;
}

/**
confirmation page
*/

.height-100vh{
    height: 100vh;
}

.ts{
    font-size: 3rem;
}



@media only screen and (max-width: 768px) {

    /**
    Header bootom
    */
    .header-bootom{
      padding: 4rem;
    }
   
}

